{%extends "template/UploadScreen.html"%}

{%block header%}
	  {% include "sections/header.html" %} 
{%endblock%}

{%block container%}
<!-- Content -->
<section class="content">
	<div class="container"  ng-app="test" ng-controller="myCtr">
		<div id="smartwizard" class="row">
			<!-- Tabs for the steps -->
			<ul>
				<li><a href="#step-1"><big>STEP 1</big><br /><medium>Basic information</medium></a></li>
				<li><a href="#step-2"><big>STEP 2</big><br /><medium>Exercise Content</medium></a></li>
				<li><a href="#step-3"><big>STEP 3</big><br /><medium>Answer Key</medium></a></li>
				<li><a href="#step-4"><big>STEP 4</big><br /><medium>Confirmation</medium></a></li>
			</ul>
			<!-- End of tabs for the steps -->
			<div>
				<!-- STEP 1 - Basic Information -->
				<div id="step-1">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<!-- STEP 1 Instructions -->
							<div class="row instructionDiv">
								<div class="col-lg-12">
									<h3 class="heading marginbot10">Thank you for deciding to contribute!</h3>
									<p>First, tell us what your exercise is all about. This will help others easily find it.</p>
								</div>
							</div>
							<!-- End of STEP 1 Instructions -->
							<!-- STEP 1 Content -->
							<div id="informationDiv" class="panel panel-default">
								<div class="panel-body">
									<form action="" method="post" role="form" class="contactForm">
										<div class="form-group">
											<!-- Exercise Title -->
											<h6>Exercise Title</h6>
											<input type="text" ng-model="exe" name="exercise-title" class="form-control" id="exercise-title" placeholder="e.g. Programming with if Statements" />
											<!-- End of Exercise Title -->
											<!-- Subject Area -->
											<h6>Subject Area</h6>
											<select name="subject" ng-model="sel" data-placeholder="e.g. Variables and Expressions" id="subject-select">
												<optgroup label="Programming">
													<option value="Variables and Expressions">Variables and Expressions</option>
													<option value="Conditional Statements">Conditional Statements</option>
													<option value="Iterative Statements">Iterative Statements</option>
												</optgroup>
												<optgroup label="Databases">
													<option value="Database Design">Database Design</option>
													<option value="SQL Queries">SQL Queries</option>
												</optgroup>
												<optgroup label="Primary Math">
													<option value="Basic Arithmetic">Basic Arithmetic</option>
													<option value="Fractions">Fractions</option>
													<option value="Decimals">Decimals</option>
												</optgroup>																
											</select>
											<!-- End of Subject Area -->
											<!-- Tags -->
											<h6>Tags</h6>
											<input id="tm" type="text" ng-model="tag" name="tags" placeholder="e.g. Java,easy,shopping" class="tm-input tm-tag-success"/>
											<!-- End of tags -->						
										</div>
									</form>
								</div>
							</div>
							<!-- End of STEP 1 Content -->
						</div>
					</div>
				</div>
				<!-- STEP 2 - Exercise Content -->	
				<div id="step-2" class="">
					<div class="row">
						<div class="col-lg-12">
							<!-- STEP 2 Instructions -->
							<div class="row">
								<div class="col-lg-12">
									<h3 class="heading marginbot10">Sounds great!</h3>
									<p>Next, write down or paste your exercise here. Make sure there are no typos!</p>
								</div>
							</div>
							<!-- End of STEP 2 Instructions -->
							<!-- STEP 2 Content -->
							<div id="questionsDiv" class="panel panel-default col-lg-12">
								<div class="panel-body">
									<form action="" method="post" role="form" class="contactForm">
										<!-- Instructions input -->
										<h6>Instruction</h6>
										<textarea ui-tinymce="tinymceOptions" id="instructionBody" ng-model="insa">

										</textarea>
										<!-- End of Instructions input -->
										<!-- Content input -->
										<h6>Content</h6>
										<textarea id="questionBody" ui-tinymce="tinymceOptions1" ng-model="quesa">

										</textarea>
										<!-- End of Content input -->
									</form>
								</div>
							</div>
							<!-- End of STEP 2 Content -->
						</div>
					</div>
				</div>
				<!-- End of STEP 2 Exercise Content -->
				<!-- STEP 3 - Answer Key -->
				<div id="step-3" class="">
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<!-- STEP 3 Instructions -->
								<div class="col-lg-12">
									<h3 class="heading">Does your exercise have an answer key?</h3>
									<p>Providing the answers to objective exercises can help the people who will use your exercise greatly.</p>
								</div>
								<!-- End of STEP 3 Instructions -->
								<!-- STEP 3 Content -->
								<form action="" method="post" role="form" class="contactForm">
									<div id="answerDiv" class="col-md-6">
										<!-- Your Exercise -->
										<h6>Your Exercise</h6>
										<p id="ins" ng-bind-html="insa | qf"> 
										  
										</p>
										<p id="ques" ng-bind-html="quesa | qf"> 
										
										</p>		
										<!-- End of Your Exercise -->
									</div>
									<!-- Answer Key -->
									<div class="col-md-6">
										<h6> Answer Key</h6>
										<textarea id="answerBody" ui-tinymce="tinymceOptions2" ng-model="answa">

										</textarea>
									</div>
									<!-- End of Answer Key -->
								</form>
								<!-- End of STEP 3 Content -->
							</div>
						</div>
					</div>
				</div>
				<!-- STEP 4 - Review -->
				<div id="step-4" class="">
					<!-- STEP 4 Instructions -->
					<div class="row">
						<div class="col-lg-12">
							<h3 class="heading">Almost Done!</h3>
							<p>Please make sure you've typed everything correctly before submitting.</p>
						</div>
					</div>
					<!-- End of STEP 4 Instructions -->
					<!-- STEP 4 Content -->
					<form>
						<div class="row">
							<!-- Title -->
							<div class="col-md-4">
								<h6> Title</h6>
								<p ng-bind="exe"></p>
								</div>
								<!-- End of Title -->
								<!-- Subject Area -->
								<div class="col-md-4">
									<h6> Subject Area</h6>
									<p ng-bind="sel"></p>
								</div>
								<!-- End of Subject Area -->
								<!-- Tags -->
								<div class="col-md-4">
									<h6>Tags</h6> 	
									 <div id="tagDiv">
									 <a href="#" class="btn btn-medium btn-rounded btn-theme"></a>
								 	</div>
									
									
								</div>
								<!-- End of Tags -->
							</div>
							<!-- Your Exercise and Answer Key -->
							<div class="row">
								<div class="col-md-6">
									<h6>Your Exercise</h6>
										<p id="ins" ng-bind-html="insa | qf"> 
										  
										</p>
										<p id="ques" ng-bind-html="quesa | qf"> 
										
										</p>								

								</div>
								<div class="col-md-6">
									<h6> Your Answer Key</h6>
									<p id="answ" ng-bind-html="answa | qf"> 
								
						 			</p>
								</div>
							</div>
							<!-- End of Exercise and Your Answer Key -->
						</form>
						<!-- End of STEP 4 Content -->
					</div>
					<!-- End of STEP 4 - Review -->
				</div>
			</div>
		</div>
	</section>
<!-- End of content -->
{%endblock%}

