<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Project Elixir</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

	<!-- Include Editor style. -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />


	<!-- TINY MCE -->
	<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>

	<!-- css -->
	<!-- bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />

	<!-- wizard --> 
	<link href="css/smart_wizard.css" rel="stylesheet" type="text/css" /> 
	<link href="css/smart_wizard_theme_arrows.css" rel="stylesheet" type="text/css" />



	<link href="css/style.css" rel="stylesheet" />

	<link href="css/font-awesome.css" rel="stylesheet" />



	<!-- Theme skin -->
	<link href="css/default.css" rel="stylesheet" />

	<link href="css/cloud.css" rel="stylesheet" />


<!-- =======================================================
    Theme Name: Moderna
    Theme URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
    ======================================================= -->

</head>
<body>
	<div id="wrapper">
		{%block header%}
		{%endblock%}

		<section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="big-cta">
							<div class="cta-text">
								<img id="banner" src="resources/banner.png"> </img>
								<h1><span id="title">Project Elixir</span> Upload </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="content">
			<div class="container">

				<!-- divider -->
				-<div  id="firstDivider" class="row">
				<div class="col-lg-12">
					<div class="solidline">
					</div>
				</div>
			</div> 
			<!-- end divider -->







		</div>




		{%block container%}
		{%endblock%}



	</div>


</section>


<footer>
	<div class="container">
		<div class="row">



		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>&copy; Moderna Theme. All right reserved.</p>
						<div class="credits">

						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>




	<!-- javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery.js"></script>
	
	
	<script src="angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tinymce/0.0.18/tinymce.js"></script>
	<script src="js/tinymce.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	
	
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Include external JS libs. -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
	<!-- Wizard -->	
	<script type="text/javascript" src="js/jquery.smartWizard.min.js"></script>

	<!-- Include Editor JS files. -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
	<script>
	var app = angular.module('test',['ui.tinymce']);
	
	app.controller('myCtr', ['$scope','$sce',function($scope,$sce) {
	  $scope.tinymceOptions = {
	    // onChange: function(e) {
	    //   // put logic here for keypress and cut/paste changes
	    //   	console.log(e.getContent());	
	    //    alert(e.getContent());

	    //    return $scope.ins($sce.trustAsHtml(e.getContent));
	    // },
	    inline: false,
	    plugins : 'advlist autolink link image lists charmap print preview',
	    skin: 'lightgray',
	    theme : 'modern',
	  	init_instance_callback:function(editor){
	  		$scope.ins($sce.trustAsHtml(e.getContent));
	  		$("#submitButton").click(function(){
	        	console.log( editor.getContent());	
	        });
	  	}
        

	  };
	  $scope.tinymceOptions1 = {
	    // onChange: function(e) {
	    //   // put logic here for keypress and cut/paste changes
	    //   	console.log(e.getContent());
	    //   	$scope.quest($sce.trustAsHtml(e.getContent));
	    //    return $scope.quesa($sce.trustAsHtml(e.getContent));
	    // },
	    inline: false,
	    plugins : 'advlist autolink link image lists charmap print preview',
	    skin: 'lightgray',
	    theme : 'modern',
	    init_instance_callback:function(editor){
	  		$scope.quesa($sce.trustAsHtml(e.getContent));
	  		$("#submitButton").click(function(){
	        	console.log( editor.getContent());	
	        });
	  	}
	  };
	  $scope.tinymceOptions2 = {
	    // onChange: function(e) {
	    //   // put logic here for keypress and cut/paste changes
	    //   	console.log(e.getContent());
	    //    // $('#ans').html(e.getContent());
	    //    return $scope.answa($sce.trustAsHtml(e.getContent));
	    // },
	    inline: false,
	    plugins : 'advlist autolink link image lists charmap print preview',
	    skin: 'lightgray',
	    theme : 'modern',
	    init_instance_callback:function(editor){
	  		$scope.answa($sce.trustAsHtml(e.getContent));
	  		$("#submitButton").click(function(){
	        	console.log( editor.getContent());	
	        });
	  	}
	  };
	}]);
	angular.module('test')
    .filter('qf', ['$sce', function($sce){
        return function(text) {
            return $sce.trustAsHtml(text);
        };
    }]);

	// var ins = tinymce.init({
	// 	selector: '#instructionBody',
	// 	menubar: 'file edit format',
	// 	 init_instance_callback: function (editor) {
	// 	    editor.on('change', function (e) {
	// 	     console.log("assd");
	// 	      // $('#ins').html(editor.getContent());
		      
	// 	    });
	// 	  }
	// });


	// var ques = tinymce.init({
	// 	selector: '#questionBody',
	// 	menubar: 'file edit format',
	// 	 init_instance_callback: function (editor) {
	// 	    editor.on('change', function (e) {
	// 	      console.log("asdd");
	// 	      // $('#quest').html(editor.getContent());
	// 	      // $('#ques').html(editor.getContent());
	// 	    });
	// 	  }
	// });

	// var ans = tinymce.init({
	// 	selector: '#answerBody',
	// 	menubar: 'file edit format',
	// 	 init_instance_callback: function (editor) {
	// 	    editor.on('change', function (e) {
	// 	   	  console.log("asd");
	// 	      // $('#answ').html(editor.getContent());
		      
	// 	    });
	// 	  }
	// });


	$(document).ready(function(){
		// $('#ins').html(ins.getContent());
		// $('#ques').html(ques.getContent());
		// $('#answ').html(ans.getContent());


		$('#smartwizard').smartWizard({

            transitionEffect: 'fade', // Effect on navigation, none/slide/fade
            transitionSpeed: '400',

        });
        // $("#submitButton").click(function(){
        // 	console.log( tinymce.get('answerBody').getContent());	
        // })
        

		
	});



	</script>

</body>
</html>