<!-- Navigation bar -->
<header>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<!-- Elixir name and logo -->
			<a class="navbar-brand" href="#"><img class="elixir-logo" src="img/flask.png" />PROJECT ELIXIR</a>
			<!-- End of Elixir name and logo -->
			<!-- Navigation buttons -->
			<div class="navbar-collapse collapse ">
				<ul class="nav navbar-nav">
					<li class="active"><a href="upload.html">UPLOAD</a></li>
					<li><a href="search.html">SEARCH</a>	</li>
				</ul>
			</div>
			<!-- End of navigation buttons -->
		</div>
	</div>
</header>
<!-- End of navigation bar -->