<!-- start header -->
<header>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>P</span>roject Elixir</a>  <img class="sprites" src="resources/elixir.png"s> </img>
			</div>
			<div class="navbar-collapse collapse ">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/upload">Upload</a></li>
					<li>
						<a href="/search">Search</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
<!-- end header -->